{% extends 'base.html' %}

{% load static %}

{% block content %}

        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">Cart Page </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cart-main-area pt-115 pb-120">
            <div class="container">
                <h3 class="cart-page-title">Your cart items</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form action="#">
                            <div class="table-content table-responsive cart-table-content">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Size</th>
                                            <th>Category</th>
                                            <th>Quantity</th>
                                            <th>Subtotal</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% if cart_items %}

                                        {% for item in cart_items %}

                                        <tr>
                                          <td class="product-thumbnail">
                                                <a href="#"><img src="{{ item.product.product.product_image.url }}" alt="" style="width: 123px; height: 123px;"></a>
                                            </td>
                                            <td class="product-name"><a href="">{{ item.product.product.product_name }}</a></td>
                                            <td class="product-price-cart"><span class="amount">{{ item.product.product.selling_price }}</span></td>
                                            <td >{{ item.product.product_size }}</td>
                                            <td >{{ item.product.product.category.category_name }}</td>

                                            {% comment %} <td class="product-quantity pro-details-quality">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                                </div>
                                            </td> {% endcomment %}

                                            <td>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <a href="{% url 'remove_cart_quantity' item.id %}">-
                                                    </a>
                                                    <span>{{ item.quantity }}</span>
                                                    <a href="{% url 'add_cart_quantity' item.id %}">+
                                                        <!-- <i class="bi bi-plus-lg"></i> -->
                                                    </a>
                                                </div>
                                            </td>
                                            
                                            {% if item %}
                                                <td class="product-subtotal">{{ item.sub_total }}</td>
                                            {% else %}
                                                <td class="product-subtotal">Item not found</td>
                                            {% endif %}

                                            <td class="product-remove">
                                                <a href="{% url 'delete_cart_item' item.product.id %}"><i class="icon_close"></i></a>
                                            </td>                                            
                                        </tr>
                                        
                                        {% endfor %}

                                        {% endif %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="cart-shiping-update-wrapper">
                                        <div class="cart-shiping-update">
                                            <a href="{% url 'products' %}">Continue Shopping</a>
                                        </div>
                                        <div class="cart-clear">
                                            {% comment %} <button>Update Cart</button> {% endcomment %}
                                            <a href="{% url 'clear_cart' %}">Clear Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="discount-code-wrapper">
                                    <button class="find-coupons-btn" data-toggle="modal" data-target="#couponModal" style="position: absolute; top: 12px; right: 41px; background-color: #000; color: white; padding: 5px 20px; border: none; border-radius: 0; cursor: pointer;">Find Coupons</button>
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
                                    </div>
                                    <div class="discount-code">
                                        <p style="font-weight: bold;">Select your coupon code from the list.</p>
                                        <form method="post" style="display: flex; flex-direction: column;">
                                            {% csrf_token %}
                                            <select name="coupon-codes" required style="font-weight: bold; padding: 8px; border: 1px solid #ccc; border-radius: 4px; background-color: #fff; color: #333;">
                                                <option value="">Select a coupon</option>
                                                {% for coupon in available_coupons %}
                                                    <option value="{{ coupon.coupon_code }}" {% if selected_coupon and coupon.coupon_code == selected_coupon.coupon_code %} selected {% endif %}>
                                                        {{ coupon.coupon_code }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                            <button class="cart-btn-2" type="submit" style="margin-top: 20px;">Apply Coupon</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="grand-totall">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gary-cart mb-5">Cart Total</h4>
                                    </div>
                                    <div class="total-shipping" style="display: flex; align-items: center;">
                                        {% if selected_coupon %}
                                        <h5 style="margin: 0;">Coupon discount</h5>
                                        <span style="margin-left: auto; display: flex; align-items: center;">
                                                <span style="font-size: 15px; margin-right: 10px;">
                                                    {{ selected_coupon.discount }}
                                                </span>
                                                <span style="color: red; font-size: 24px; cursor: pointer;" onclick="location.href='{% url 'clear_coupon' %}'">&times;</span>
                                            {% endif %}
                                        </span>
                                    </div>
                                    <h4 class="grand-totall-title">Grand Total <span>{{ grand_total }}</span></h4>
                                    <a href="{% url 'checkout' %}">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- Modal to display coupons -->
        <div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="couponModalLabel"><strong>ALL COUPONS</strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Display coupons in separate alert-style inputs -->
                        {% for coupon in coupons %}
                            <div class="alert alert-info" role="alert">
                                <strong>{{ coupon.coupon_code }}</strong> - <strong>{{ coupon.description }}</strong>
                            </div>
                        {% empty %}
                            <div class="alert alert-warning" role="alert">
                                <strong>NO COUPONS AVAILABLE!</strong>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}