{% extends 'base.html' %}

{% load static %}

{% block content %}

        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">Cart Page </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cart-main-area pt-115 pb-120">
            <div class="container">
                <h3 class="cart-page-title">Your cart items</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form action="#">
                            <div class="table-content table-responsive cart-table-content">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Size</th>
                                            <th>Category</th>
                                            <th>Quantity</th>
                                            <th>Subtotal</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% if cart_items %}

                                        {% for item in cart_items %}

                                        <tr>
                                          <td class="product-thumbnail">
                                                <a href="#"><img src="{{ item.product.product.product_image.url }}" alt="" style="width: 123px; height: 123px;"></a>
                                            </td>
                                            <td class="product-name"><a href="">{{ item.product.product.product_name }}</a></td>
                                            <td class="product-price-cart"><span class="amount">{{ item.product.product.selling_price }}</span></td>
                                            <td >{{ item.product.product_size }}</td>
                                            <td >{{ item.product.product.category.category_name }}</td>

                                            {% comment %} <td class="product-quantity pro-details-quality">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                                </div>
                                            </td> {% endcomment %}

                                            <td>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <a href="{% url 'remove_cart_quantity' item.id %}">-
                                                    </a>
                                                    <span>{{ item.quantity }}</span>
                                                    <a href="{% url 'add_cart_quantity' item.id %}">+
                                                        <!-- <i class="bi bi-plus-lg"></i> -->
                                                    </a>
                                                </div>
                                            </td>
                                            
                                            {% if item %}
                                                <td class="product-subtotal">{{ item.sub_total }}</td>
                                            {% else %}
                                                <td class="product-subtotal">Item not found</td>
                                            {% endif %}

                                            <td class="product-remove">
                                                <a href="{% url 'delete_cart_item' item.product.id %}"><i class="icon_close"></i></a>
                                            </td>                                            
                                        </tr>
                                        
                                        {% endfor %}

                                        {% endif %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="cart-shiping-update-wrapper">
                                        <div class="cart-shiping-update">
                                            <a href="{% url 'products' %}">Continue Shopping</a>
                                        </div>
                                        <div class="cart-clear">
                                            {% comment %} <button>Update Cart</button> {% endcomment %}
                                            <a href="{% url 'clear_cart' %}">Clear Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                {% comment %} <div class="cart-tax">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gray">Estimate Shipping And Tax</h4>
                                    </div>
                                    <div class="tax-wrapper">
                                        <p>Enter your destination to get a shipping estimate.</p>
                                        <div class="tax-select-wrapper">
                                            <div class="tax-select">
                                                <label>
                                                    * Country
                                                </label>
                                                <select class="email s-email s-wid">
                                                    <option>Bangladesh</option>
                                                    <option>Albania</option>
                                                    <option>Åland Islands</option>
                                                    <option>Afghanistan</option>
                                                    <option>Belgium</option>
                                                </select>
                                            </div>
                                            <div class="tax-select">
                                                <label>
                                                    * Region / State
                                                </label>
                                                <select class="email s-email s-wid">
                                                    <option>Bangladesh</option>
                                                    <option>Albania</option>
                                                    <option>Åland Islands</option>
                                                    <option>Afghanistan</option>
                                                    <option>Belgium</option>
                                                </select>
                                            </div>
                                            <div class="tax-select">
                                                <label>
                                                    * Zip/Postal Code
                                                </label>
                                                <input type="text">
                                            </div>
                                            <button class="cart-btn-2" type="submit">Get A Quote</button>
                                        </div>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                            <div class="col-lg-4 col-md-6">
                                {% comment %} <div class="discount-code-wrapper">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
                                    </div>
                                    <div class="discount-code">
                                        <p>Enter your coupon code if you have one.</p>
                                        <form>
                                            <input type="text" required="" name="name">
                                            <button class="cart-btn-2" type="submit">Apply Coupon</button>
                                        </form>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="grand-totall">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                                    {% comment %} </div>
                                    <h5>Products</h5>
                                    {% for item in cart_items %}
                                    <h5>{{ item.product.product.product_name }} <span>{{ item.sub_total }}</span></h5>
                                    <p class="text-muted">Product Price: Rs. {{ item.product.product.selling_price }} /- for each</p>
                                    {% endfor %} {% endcomment %}
                                    <div class="total-shipping">
                                        <h5>Payment method</h5>
                                        <ul>
                                            <li><input type="checkbox"> Cash on delivery <span>$20.00</span></li>
                                        </ul>
                                    </div>
                                    <h4 class="grand-totall-title">Grand Total <span>{{ grand_total }}</span></h4>
                                    <a href="{% url 'checkout' %}">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
{% endblock content %}