{% extends 'base.html' %}

{% load static %}

{% block content %}



    <div class="main-wrapper">
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">Checkout </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="checkout-main-area pt-120 pb-120">
            <div class="container">
                <div class="customer-zone mb-20">
                    {% comment %} <p class="cart-page-title">Returning customer? <a class="checkout-click1" href="#">Click here to login</a></p> {% endcomment %}
                    <div class="checkout-login-info">
                        <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer, please proceed to the Billing & Shipping section.</p>
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="sin-checkout-login">
                                        <label>Username or email address <span>*</span></label>
                                        <input type="text" name="user-name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="sin-checkout-login">
                                        <label>Passwords <span>*</span></label>
                                        <input type="password" name="user-password">
                                    </div>
                                </div>
                            </div>
                            <div class="button-remember-wrap">
                                <button class="button" type="submit">Login</button>
                                <div class="checkout-login-toggle-btn">
                                    <input type="checkbox">
                                    <label>Remember me</label>
                                </div>
                            </div>
                            <div class="lost-password">
                                <a href="#">Lost your password?</a>
                            </div>
                        </form>
                        <div class="checkout-login-social">
                            <span>Login with:</span>
                            <ul>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Google</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="customer-zone mb-20">
                    {% comment %} <p class="cart-page-title">Have a coupon? <a class="checkout-click3" href="#">Click here to enter your code</a></p> {% endcomment %}
                    <div class="checkout-login-info3">
                        <form action="#">
                            <input type="text" placeholder="Coupon code">
                            <input type="submit" value="Apply Coupon">
                        </form>
                    </div>
                </div>
                <div class="checkout-wrap pt-30">
                    <form method ="post" action="">
                        {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="billing-info-wrap mr-50">
                                <div class="d-flex mb-20">
                                    <h3 class="mb-0">Billing Address</h3>
                                    <a href="#" role="button" class="btn btn-primary" style="margin-left: 11rem; border-radius: 0;" data-toggle="modal" data-target="#exampleModal">Add address</a>
                                </div>
                                
                                {% if addresses %}
                                {% for address in addresses %}
                                
                                  <div class="card mb-4" style="width: 30rem;">
                                    <div class="card-body">
                                        <div class ="form-check">
                                            <input style="height: 20px !important;
                                            position: relative;
                                            right: 265px;
                                            bottom: 16px; ;" class="form-check-input" type="radio" name="delivery_address" value={{address.id}} id="flexRadioDefault1" >
                                            <label class="form-check-label" for="flexRadioDefault1"  >
                                            </label>
                                        </div>
                                      <h4 class="card-title" ><b>Address {{forloop.counter}} :</b></h4>
                                      {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
                                      <h5 class="card-text"><p><strong>Name</strong> : {{ address.name }}</p>
                                      <p><strong>Address</strong> : {{ address.address }}, {{ address.landmark }} , {{ address.city }}, P.O: {{ address.pincode }} , {{ address.district }} , {{ address.state }}</p>
                                      <p><strong>Mobile</strong> : {{ address.mobile }}</p>
                                      <button type="button" class="btn btn-primary" style="border-radius: 0;" data-toggle="modal" data-target="#editModal-{{address.id}}">
                                        Edit Address
                                    </button>
                                      

                                    </div>
                                  </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="your-order-area">
                                <form>
                                <h3>Your order</h3>
                                <div class="your-order-wrap gray-bg-4">
                                    <div class="your-order-info-wrap">
                                        {% comment %} <div class="your-order-info">
                                            <ul>
                                                <li>Product <span>Total</span></li>
                                            </ul>
                                        </div> 
                                        {% if cart_items%}
                                        {% for item in cart_items %}
                                        <div class="your-order-middle">
                                            <ul>
                                                <li>{{ item.product.product.product_name }}<span><b>{{ item.product.product.selling_price }}<b></span></li>
                                            </ul>
                                        </div>
                                        
                                        {% endfor %}
                                        {% endif %}  {% endcomment %}
                                        {% comment %} <div class="your-order-info order-subtotal">
                                            <ul>
                                                <li>Subtotal <span>{{ sub_total }}</span></li>
                                            </ul>
                                        </div> 
                                        
                                        <div class="your-order-info order-shipping">
                                            <ul>
                                                <li>
                                                    Coupon discount:
                                                    {% if selected_coupon %}
                                                        <p>{{ selected_coupon.discount }}</p>
                                                    {% else %}
                                                        <p>No coupon applied</p>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </div> {% endcomment %}
                                        <div class="your-order-info order-total">
                                            <ul>
                                                {% if grand_total %}
                                                <li>Grand total <span>Rs. {{ grand_total }} /-</span></li>
                                                {% endif %}
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="payment-method">
                                        <div class="pay-top sin-payment">
                                            <input id="payment-method-3" class="input-radio" type="radio" value="cash_on_delivery" name="payment_method">
                                            <label for="payment-method-3">Cash on delivery </label>
                                        </div>

                                        <div class="pay-top sin-payment">
                                            <input id="payment-method" class="input-radio" type="radio" value="razorpayPayment" name="payment_method">
                                            <label for="payment-method-3">Razorpay payment</label>
                                        </div>
                                       
                                        <div class="pay-top sin-payment">
                                            <input id="payment-method-wallet" class="input-checkbox" type="checkbox" value="walletPayment" name="wallet_amount">
                                            <label for="payment-method-wallet">Wallet payment</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="Place-order">
                                    <button type="submit" class="btn btn-primary" style="border-radius:0">Place Order</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>      
    </div>


     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new address</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form action="{% url 'order_page_add_address' user.id %}" method="post">
                            {% csrf_token %}
    
                            <div class="single-input-item">
                                <label for="first-name" class="required">Name</label>
                                <input type="text" id="first-name" name="name" placeholder="Enter your name" required/>
                            </div>
    
                            <div class="single-input-item">
                                <label for="mobile" class="required">Mobile Number</label>
                                <input type="text" id="mobile" name="mobile" placeholder="Enter your mobile number" required/>
                            </div>
    
                            <div class="single-input-item">
                                <label for="address" class="required">Address</label>
                                <input type="text" id="address" name="address" placeholder="Enter your address (House name, street adress)*" required/>
                            </div>
    
                            <div class="single-input-item">
                                <label for="landmark" class="required">Landmark</label>
                                <input type="text" id="landmark" name="landmark" placeholder="Enter your nearest landmark" required/>
                            </div>
    
                            <div class="single-input-item">
                                <label for="city" class="required">City</label>
                                <input type="text" id="city" name="city" placeholder="Enter your city" required />
                            </div>
    
                            <div class="single-input-item">
                                <label for="pincode" class="required">Pincode</label>
                                <input type="text" id="pincode" name="pincode" placeholder="Enter your pincode" required/>
                            </div>
    
                            <div class="single-input-item">
                                <label for="district" class="required">District</label>
                                <select class="form-control" id="district" name="district" placeholder="Enter your district" required>
                                    <option value=""><b>Select District*</b></option>
                                    <option value="KASARAGODE">KASARAGODE</option>
                                    <option value="KANNUR">KANNUR</option>
                                    <option value="WAYANAD">WAYANAD</option>
                                    <option value="KOZHIKODE">KOZHIKODE</option>
                                    <option value="MALAPPURAM">MALAPPURAM</option>
                                    <option value="PALAKKAD">PALAKKAD</option>
                                    <option value="THRISSUR">THRISSUR</option>
                                    <option value="ERNAKULAM">ERNAKULAM</option>
                                    <option value="IDUKKI">IDUKKI</option>
                                    <option value="KOTTAYAM">KOTTAYAM</option>
                                    <option value="ALAPPUZHA">ALAPPUZHA</option>
                                    <option value="PATHANAMTHITTA">PATHANAMTHITTA</option>
                                    <option value="KOLLAM">KOLLAM</option>
                                    <option value="THIRUVANANTHAPURAM">THIRUVANANTHAPURAM</option>
                                </select>
                            </div>
    
                            <div class="single-input-item">
                                <label for="state" class="required">State</label>
                                <input type="text" id="state" name="state" placeholder="Enter your state" required/>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Save changes</button>
                                </div>
    
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    
    {% if addresses %}
    {% for address in addresses %}

    <!-- Modal for Editing -->
    <div class="modal fade" id="editModal-{{address.id}}" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editLabel">Edit Address</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form action="{% url 'order_page_edit_address' address.id %}" method="post">
                            {% csrf_token %}
    
                            <div class="single-input-item">
                                <label for="edit-first-name" class="required">Name</label>
                                <input type="text" id="edit-first-name" name="name" placeholder="Enter your name" value="{{ address.name }}" required/>
                            </div>
    
                            <div class="single-input-item">
                                <label for="edit-mobile" class="required">Mobile Number</label>
                                <input type="text" id="edit-mobile" name="mobile" placeholder="Enter your mobile number" value="{{ address.mobile }}" required/>
                            </div>
    
                            <div class="single-input-item">
                                <label for="edit-address" class="required">Address</label>
                                <input type="text" id="edit-address" name="address" placeholder="Enter your address" value="{{ address.address }}" required/>
                            </div>
    
                            <div class="single-input-item">
                                <label for="edit-landmark" class="required">Landmark</label>
                                <input type="text" id="edit-landmark" name="landmark" placeholder="Enter your nearest landmark" value="{{ address.landmark }}" required/>
                            </div>
    
                            <div class="single-input-item">
                                <label for="edit-city" class="required">City</label>
                                <input type="text" id="edit-city" name="city" placeholder="Enter your city" value="{{ address.city }}" required />
                            </div>
    
                            <div class="single-input-item">
                                <label for="edit-pincode" class="required">Pincode</label>
                                <input type="text" id="edit-pincode" name="pincode" placeholder="Enter your pincode" value="{{ address.pincode }}" required/>
                            </div>
    
                            <div class="single-input-item">
                                <label for="edit-district" class="required">District</label>
                                <select class="form-control" id="edit-district" name="district" required>
                                <option value="">{{ address.district }}</option>
                                <option value="KASARAKODE" {% if i.district == "KASARAKODE" %}selected{% endif %}>KASARAKODE</option>
                                <option value="KANNUR" {% if i.district == "KANNUR" %}selected{% endif %}>KANNUR</option>
                                <option value="WAYANAD" {% if i.district == "WAYANAD" %}selected{% endif %}>WAYANAD</option>
                                <option value="KOZHIKODE" {% if i.district == "KOZHIKODE" %}selected{% endif %}>KOZHIKODE</option>
                                <option value="MALAPPURAM" {% if i.district == "MALAPPURAM" %}selected{% endif %}>MALAPPURAM</option>
                                <option value="PALAKKAD" {% if i.district == "PALAKKAD" %}selected{% endif %}>PALAKKAD</option>
                                <option value="THRISSUR" {% if i.district == "THRISSUR" %}selected{% endif %}>THRISSUR</option>
                                <option value="ERNAKULAM" {% if i.district == "ERNAKULAM" %}selected{% endif %}>ERNAKULAM</option>
                                <option value="IDUKKI" {% if i.district == "IDUKKI" %}selected{% endif %}>IDUKKI</option>
                                <option value="KOTTAYAM" {% if i.district == "KOTTAYAM" %}selected{% endif %}>KOTTAYAM</option>
                                <option value="ALAPPUZHA" {% if i.district == "ALAPPUZHA" %}selected{% endif %}>ALAPPUZHA</option>
                                <option value="PATHANAMTHITTA" {% if i.district == "PATHANAMTHITTA" %}selected{% endif %}>PATHANAMTHITTA</option>
                                <option value="KOLLAM" {% if i.district == "KOLLAM" %}selected{% endif %}>KOLLAM</option>
                                <option value="THIRUVANANTHAPURAM" {% if i.district == "THIRUVANANTHAPURAM" %}selected{% endif %}>THIRUVANANTHAPURAM</option>
                            </select>
                            </div>
    
                            <div class="single-input-item">
                                <label for="edit-state" class="required">State</label>
                                <input type="text" id="edit-state" name="state" placeholder="Enter your state" value="{{ address.state }}" required/>
                            </div>
    
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    {% endif %}

{% endblock content %}

