{% extends 'base.html' %}

{% block title %}
Wishlist
{% endblock title %}

{% load static %}

{% block content %}

    <div class="main-wrapper">
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="active">Wishlist </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cart-main-area pt-115 pb-120">
            <div class="container">
                <h3 class="cart-page-title">Your cart items</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form action="#">
                            <div class="table-content table-responsive cart-table-content">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product Image</th>
                                            <th>Product Name</th>
                                            <th>Category</th>
                                            <th>Size</th>
                                            <th>Price</th>
                                            <th>Action</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in wishlist %}
                                            <tr>
                                                <td class="product-thumbnail">
                                                    <a href="#"><img src="{{ item.variant.product.product_image.url }}" alt="{{ item.variant.product.product_name }}" style="max-width: 123px; max-height: 123px;"></a>
                                                </td>
                                                <td class="product-name">
                                                    <a href="#">{{ item.variant.product.product_name }}</a>
                                                </td>
                                                <td class="product-name">
                                                    <a href="#">{{ item.variant.product.category.category_name }}</a>
                                                </td>
                                                <td class="product-price-cart">
                                                    <span class="amount">{{ item.variant.product_size }}</span>
                                                </td>
                                                <td class="product-price-cart">
                                                    <span class="amount">{{ item.variant.product.selling_price }}</span>
                                                </td>
                                                <td class="product-wishlist-cart">
                                                    <a href="">add to cart</a>
                                                </td>
                                                <td class="product-wishlist-cart">
                                                    <a href="{% url 'delete_wishlist' item.id %}">X</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}