{% extends 'admin_base.html' %}

{% block content %}

<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">ADMIN / </span> ORDER DETAILS</h4>
    {% comment %} {% if order_items %} {% endcomment %}
    <div class="row">
      <div class="col-xxl">
        <div class="card mb-4">
          <div class="card-body">
            
            {% if order %}
              
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">ORDER ID :</label>
              <div class="col-sm-10">
                <p>{{ order.order_id }}</p>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">ORDER DATE :</label>
              <div class="col-sm-10">
                <p>{{ order.created }}</p>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">ORDER TOTAL :</label>
              <div class="col-sm-10">
                <p>{{ order.order_total }}</p>
              </div>
            </div>

            {% endif %}

            {% if order_items %}
            {% for item in order_items %}

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">CUSTOMER :</label>
              <div class="col-sm-10">
                <p>{{ item.order_id.address.name }}</p>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label"><strong><h5>PRODUCT NO. {{forloop.counter}} :</h5></strong> PRODUCT IMAGE :</label>
              <div class="col-sm-10">
                <img src="{{ item.variant.product.product_image.url }}" alt="product image" style="height: 100%; width: 10%;" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">PRODUCT NAME :</label>
              <div class="col-sm-10">
                <p>{{ item.variant.product.product_name }}</p>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">SIZE :</label>
              <div class="col-sm-10">
                <p>{{ item.variant.product_size }}</p>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">QUANTITY :</label>
              <div class="col-sm-10">
                <p>{{ item.quantity }}</p>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">DELIVERY ADDRESS :</label>
              <div class="col-sm-10">
                <p>{{ item.order_id.address.address }}, {{ item.order_id.address.city }}, {{ item.order_id.address.landmark }}, 
                  PINCODE:{{ item.order_id.address.pincode }},
                  {{ item.order_id.address.district }}, {{ item.order_id.address.state }}</p>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">CONTACT :</label>
              <div class="col-sm-10">
                <p>{{ item.order_id.address.mobile }}</p>
              </div>
            </div>

            {% endfor %}
            {% endif %}

          </div>
        </div>
      </div>
    </div>
    {% comment %} {% endif %} {% endcomment %}
  </div>
</div>

{% endblock content %}
