{% extends 'admin_base.html' %}

{% block content %}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">ADMIN / </span> EDIT BANNER</h4>

        <div class="card mb-4">
            
            <div class="card-body">
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-name">BANNER NAME :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="basic-default-name" name="name" value=""  required/>
                        </div>
                    </div>

                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label" for="current-brand-image">CURRENT IMAGE:</label>
                      <div class="col-sm-10">
                          {% if banner.image %}
                              <img src="{{ banner.image.url }}" alt="Current Banner Image" style="max-width: 20%;" />
                          {% else %}
                              No image available
                          {% endif %}
                      </div>
                  </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-company">IMAGE UPLOAD : </label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="basic-default-company" name="image" required />
                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">EDIT BANNER</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
