{% extends 'admin_base.html' %}

{% block content %}

<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">ADMIN / </span> ADD CATEGORY</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
      <!-- Basic Layout -->
      <div class="col-xxl">
        <div class="card mb-4">
          <div class="card-body">
            <form enctype="multipart/form-data" method="post">
              {% csrf_token %}
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-name">CATEGORY NAME :</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="basic-default-name" name="category_name" placeholder="Name of the category" required/>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-company">IMAGE UPLOAD : </label>
                <div class="col-sm-10">
                  <input
                    type="file"
                    class="form-control"
                    id="basic-default-company"
                    name="category_image"
                    required
                  />
                </div>
              </div>

              <!-- Add the offer input field in the form -->
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-offer">OFFER :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="basic-default-offer" name="category_offer" placeholder="Category offer (In percentage)" />
                </div>
              </div>
              
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-message">DESCRIPTION : </label>
                <div class="col-sm-10">
                  <textarea
                    id="basic-default-message"
                    class="form-control"
                    placeholder="Description of the category"
                    name="category_description"
                    required
                    aria-describedby="basic-icon-default-message2"
                  ></textarea>
                </div>
              </div>

              <div class="row justify-content-end">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">ADD NEW CATEGORY</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
