{% extends 'admin_base.html' %}

{% load static %}

{% block content %}


<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">ADMIN /</span> USERS</h4>

    <div class="card">
        <div class="table-responsive text-nowrap">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>SL.NO</th>
                <th>ID</th>
                <th>USER NAME</th>
                <th>EMAIL ADDRESS</th>
                <th>MOBILE NO.</th>
                <th>STATUS</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% if users %}
                {% for i in users %}
                  {% if not i.is_superuser %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ i.id }}</td>
                      <td>{{ i.first_name }}</td> 
                      <td>{{ i.email }}</td>
                      <td>{{ i.mobile }}</td>
                      <td>
                        {% if i.is_active %}
                          <span class="fw-bold" style="color: green;">ACTIVE</span>
                        {% else %}
                          <span class="fw-bold" style="color: red;">INACTIVE</span>
                        {% endif %}
                      </td>
                      <td>
                          {% if i.is_active %}
                          <a href="{% url 'admin_users_control' i.id %}"><span class="text-danger">BLOCK</span></a>
                          {% else %}
                          <a href="{% url 'admin_users_control' i.id %}"><span class="text-danger">UNBLOCK</span></a>
                          {% endif %}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </tbody>
            
          </table>
        </div>
      </div>
    </div>
    


{% endblock content %}