{% extends 'admin_base.html' %}

{% block content %}

<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">ADMIN / </span> ORDER DETAILS</h4>
    {% comment %} {% if order_items %} {% endcomment %}
    <div class="row">
      <div class="col-xxl">
        <div class="card mb-4">
          <div class="card-body">
            
            {% if order %}
              
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">ORDER ID :</label>
              <div class="col-sm-10">
                <p>{{ order.order_id }}</p>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">ORDER DATE :</label>
              <div class="col-sm-10">
                <p>{{ order.created }}</p>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">ORDER TOTAL :</label>
              <div class="col-sm-10">
                <p>{{ order.order_total }}</p>
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">CUSTOMER :</label>
              <div class="col-sm-10">
                <p>{{ order.address.name }}</p>
              </div>
            </div>

            <div class="row mb-2">
              <label class="col-sm-2 col-form-label">Delivery Address :</label>
              <div class="col-sm-10">
                  <p>{{ order.address.address }}, {{ order.address.city }}, {{ order.address.landmark }},
                      PINCODE : {{ order.address.pincode }},
                      {{ order.address.district }}, {{ order.address.state }}</p>
              </div>
          </div>
  
          <div class="row mb-2">
              <label class="col-sm-2 col-form-label">Contact :</label>
              <div class="col-sm-10">
                  <p>{{ order.address.mobile }}</p>
              </div>
          </div>

            {% endif %}

            {% if order_items %}
            {% for item in order_items %}


            <div class="card mb-3">
              <div class="card-body">
                  <div class="row mb-2">
                      <label class="col-sm-2 col-form-label"> Product Image :</label>
                      <div class="col-sm-10">
                          <img src="{{ item.variant.product.product_image.url }}" alt="product image" class="img-fluid" style="max-height: 100px; max-width: 100px;" />
                      </div>
                  </div>
          
                  <div class="row mb-2">
                      <label class="col-sm-2 col-form-label">Product Name :</label>
                      <div class="col-sm-10">
                          <p >{{ item.variant.product.product_name }}</p>
                      </div>
                  </div>
          
                  <div class="row mb-2">
                      <label class="col-sm-2 col-form-label">Size :</label>
                      <div class="col-sm-10">
                          <p >{{ item.variant.product_size }}</p>
                      </div>
                  </div>
          
                  <div class="row mb-2">
                      <label class="col-sm-2 col-form-label">Quantity :</label>
                      <div class="col-sm-10">
                          <p>{{ item.quantity }}</p>
                      </div>
                  </div>
                  
                 
              </div>
          </div>
          

            {% endfor %}
            {% endif %}
            
            <div>
              <form method="post" action="{% url 'admin_orders_status' order.id %}">
                  {% csrf_token %}
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">CHANGE STATUS:</label>
                    <div class="col-sm-10">
                        <select name="new_status" class="form-select">
                            <option value="ORDER CONFIRMED" {% if order.status == "ORDER CONFIRMED" %}selected{% endif %}>ORDER CONFIRMED</option>
                            <option value="SHIPPED" {% if order.status == "SHIPPED" %}selected{% endif %}>SHIPPED</option>
                            <option value="OUT OF DELIVERY" {% if order.status == "OUT OF DELIVERY" %}selected{% endif %}>OUT OF DELIVERY</option>
                            <option value="DELIVERED" {% if order.status == "DELIVERED" %}selected{% endif %}>DELIVERED</option>
                            <option value="CANCELLED" {% if order.status == "CANCELLED" %}selected{% endif %}>CANCELLED</option>
                            <option value="RETURN REQUESTED" {% if order.status == "RETURN REQUESTED" %}selected{% endif %}>RETURN REQUESTED</option>
                            <option value="RETURN PROCESSING" {% if order.status == "RETURN PROCESSING" %}selected{% endif %}>RETURN PROCESSING</option>
                            <option value="RETURNED" {% if order.status == "RETURNED" %}selected{% endif %}>RETURNED</option>
                        </select>
                    </div>
                </div>
                
                  <div class="row mb-3">
                      <div class="col-sm-10 offset-sm-2">
                          <button type="submit" class="btn btn-primary">CHANGE STATUS</button>
                      </div>
                  </div>
              </form>
            </div>
          
          </div>
        </div>
      </div>
    </div>
    {% comment %} {% endif %} {% endcomment %}
  </div>
</div>

{% endblock content %}
