{% extends 'admin_base.html' %}

{% load static %}

{% block content %}

<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">ADMIN / </span> ADD PRODUCT VARIANT</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
      <!-- Basic Layout -->
      <div class="col-xxl">
        <div class="card mb-4">
          {% comment %} <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Basic Layout</h5>
            <small class="text-muted float-end">Default label</small>
          </div> {% endcomment %}
          <div class="card-body">

            <form method="post" action="">
              {% csrf_token %}
              
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-name">PRODUCT NAME:</label>
                <div class="col-sm-10">
                    {% if product %}
                  <input type="text" class="form-control" id="basic-default-name" value="{{ product }}" readonly />
                    {% endif %}
                </div>
              </div>
            
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-brand">SIZE :</label>
                <div class="col-sm-10">
                    <select class="form-select" id="basic-default-brand" name="size" required>
                        <option value="">Select size</option>
                        {% for size in sizes %}
                        <option value="{{ size.id }}">{{ size.size }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-price">STOCK / QUANTITY :</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="basic-default-price" name="stock" required/>
                </div>
              </div>
              
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-selling-price">PRODUCT PRICE :</label>
                <div class="col-sm-10">
                    {% if product %}
                  <input type="number" class="form-control" id="basic-default-selling-price" name="product_price" placeholder="{{ product.selling_price }}" />
                    {% endif %}
                </div>
              </div>

              
              <div class="row justify-content-end">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">ADD NEW PRODUCT VARIANT</button>
                </div>
              </div>
              
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
