{% extends 'admin_base.html' %}

{% load static %}

{% block content %}


<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">ADMIN /</span> CATEGORY</h4>

    <div class="card">
        <div class="table-responsive">
          <table class="table table-responsive">
            <div class="mt-3 pr-4 text-end">
                <button class="btn btn-primary me-3" type="submit"><a class="text-white" href="{% url 'admin_add_category' %}"> CREATE NEW CATEGORY</a></button>
            </div>
            <thead>
              <tr>
                <th>SL.NO</th>
                <th>IMAGE</th>
                <th>CATEGORY NAME</th>
                {% comment %} <th>OFFER</th> {% endcomment %}
                <th>DESCRIPTION</th>
                <th>EDIT</th>
                <th>ACTIONS</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                
              {% if categories %}

              {% for i in categories %}

              <tr>
                <td>{{ forloop.counter }} </td>
                <td><img src="{{ i.category_image.url }}" width="100" height="120"></td>
                <td>{{ i.category_name }}</td>
                {% comment %} <td>
                  {% if i.offer == 0 %}
                      No offer available
                  {% elif not i.offer %}
                      No offer available
                  {% else %}
                      {{ i.offer }}% Off
                  {% endif %}
              </td> {% endcomment %}
              
                <td>{{ i.category_description }}</td>
                <td><a href="{% url 'admin_edit_category' i.id %}"><i class="bi bi-pencil-fill  me-4"></i></a>
                    {% comment %} <a href="{% url 'admin_delete_category' i.id %}" class="delete"><i class="bi bi-trash-fill" data-toggle="tooltip" title="Delete"></i></a> {% endcomment %}
                  </td>
                <td>
                  {% if i.is_active == True %}
                    <a href="{% url 'admin_control_category' i.id %}"><button type="submit" class="btn btn-danger">UNLIST </button></a>
                  {% else %}
                      <a href="{% url 'admin_control_category' i.id %}"><button type="submit" class="btn btn-primary">LIST </button></a>
                  {% endif %}


              </td>
              </tr>

              {% endfor %}
              
              {% endif %}
            
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    

{% endblock content %}