{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="main-wrapper">
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="active">Shop </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shop-area pt-120 pb-120">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-topbar-wrapper">
                            <div class="shop-topbar-left">
                                <div class="view-mode nav">
                                    <a class="active" href="#shop-1" data-toggle="tab"><i class="icon-grid"></i></a>
                                    {% comment %} <a href="#shop-2" data-toggle="tab"><i class="icon-menu"></i></a> {% endcomment %}
                                </div>
                                <p>Showing 1 - {{ products|length }} of {{ products.count }} results</p>
                            </div></div>
                        <div class="shop-bottom-area">
                            <div class="tab-content jump">
                                <div id="shop-1" class="tab-pane active">
                                    <div class="row">
                                        {% if products %}
                                        {% for product in products %}
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                            <div class="single-product-wrap mb-35">
                                                <div class="product-img product-img-zoom mb-15">
                                                    {% comment %} <a href="{% url 'product_details' product.id  %}"> {% endcomment %}
                                                    <a href="{% url 'product_details' product.id %}">
                                                        <img src="{{product.product_image.url}}" alt="">
                                                    </a>
                                                    {% if product.percentage_discount > 0 and product.selling_price != product.original_price %}
                                                        <span class="pro-badge left bg-red">-{{ product.percentage_discount }}%</span>
                                                    {% endif %}

                                                    {% comment %} <div class="product-action-2 tooltip-style-2">
                                                        <button title="Wishlist"><i class="icon-heart"></i></button>
                                                        <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i class="icon-size-fullscreen icons"></i></button>
                                                        <button title="Compare"><i class="icon-refresh"></i></button>
                                                    </div> {% endcomment %}
                                                </div>
                                                <div class="product-content-wrap-2 text-center">
                                                    {% comment %} <div class="product-rating-wrap">
                                                        <div class="product-rating">
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                        </div>
                                                        <span>(5)</span>
                                                    </div> {% endcomment %}
                                                    <h3>{{product.product_name}}</a></h3>
                                                    <div class="product-price-2">
                                                        <span class="new-price">{{ product.selling_price }}</span>
                                                        {% if product.selling_price != product.original_price %}
                                                            <span class="old-price">{{ product.original_price }}</span>
                                                        {% endif %}
                                                    </div>
                                                    
                                                </div>
                                                <div class="product-content-wrap-2 product-content-position text-center">
                                                    {% comment %} <div class="product-rating-wrap">
                                                        <div class="product-rating">
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                        </div>
                                                        <span>(5)</span>
                                                    </div> {% endcomment %}
                                                    <h3>{{product.product_name}}</a></h3>
                                                    <div class="product-price-2">
                                                        <span class="new-price">{{product.selling_price}}</span>
                                                        <span class="old-price">{{product.original_price}}</span>
                                                    </div>
                                                    <div class="pro-add-to-cart">
                                                        <a href="{% url 'product_details' product.id %}"><button title="Add to Cart"> View Product</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% endif%}
                                    </div>
                                </div>
                                
                                <div id="shop-2" class="tab-pane">
                                    <div class="shop-list-wrap mb-30">
                                        <div class="row">
                                            {% for product in products %}
                                            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6">
                                                <div class="product-list-img">
                                                    <a href="product-details.html">
                                                        <img src="{{ product.product_image.url }}" alt="Product Style">
                                                    </a>
                                                    {% comment %} <div class="product-list-quickview">
                                                        <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i class="icon-size-fullscreen icons"></i></button>
                                                    </div> {% endcomment %}
                                                </div>
                                            </div>
                                            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6">
                                                <div class="shop-list-content">
                                                    <h3><a href="product-details.html">{{product.product_name}}</a></h3>
                                                    <div class="pro-list-price">
                                                        <span class="new-price">{{product.selling_price}}</span>
                                                        <span class="old-price">{{product.original_price}}</span>
                                                    </div>
                                                    <div class="product-list-rating-wrap">
                                                        <div class="product-list-rating">
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star gray"></i>
                                                            <i class="icon_star gray"></i>
                                                        </div>
                                                        <span>(3)</span>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor labor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                                    <div class="product-list-action">
                                                        <button title="Add To Cart"><i class="icon-basket-loaded"></i></button>
                                                        <button title="Wishlist"><i class="icon-heart"></i></button>
                                                        <button title="Compare"><i class="icon-refresh"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pro-pagination-style text-center mt-10">
                                <ul>
                                    {% if products.has_previous %}
                                        <li><a class="prev" href="?page={{ products.previous_page_number }}"><i class="icon-arrow-left"></i></a></li>
                                    {% endif %}
                                    {% for i in products.paginator.page_range %}
                                        <li><a {% if i == products.number %}class="active"{% endif %} href="?page={{ i }}">{{ i }}</a></li>
                                    {% endfor %}
                                    {% if products.has_next %}
                                        <li><a class="next" href="?page={{ products.next_page_number }}"><i class="icon-arrow-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="sidebar-wrapper sidebar-wrapper-mrg-right">
                            <div class="sidebar-widget mb-40">
                                <h4 class="sidebar-widget-title">Search </h4>
                                <div class="sidebar-search">
                                    <form class="sidebar-search-form" action="{% url 'product_search' %}" method="get">
                                        <input type="text" name="search" placeholder="Search here..." value="{{ search_query }}">
                                        <button type="submit">
                                            <i class="icon-magnifier"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <form action="{% url 'products' %}" method="GET">
                                <div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                                    <h4 class="sidebar-widget-title">Categories</h4>
                                    <div class="sidebar-widget-list">
                                        <ul>
                                            {% for category in categories %}
                                                <li>
                                                    <div class="sidebar-widget-list-left" style="display: flex; align-items: center;">
                                                        <input type="checkbox" name="category" value="{{ category.category_name }}">
                                                        <a href="#" style="font-size: 14px; padding-left: 5px;">{{ category.category_name }}</a>
                                                        <span class="checkmark"></span>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                
                            <div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                                <h4 class="sidebar-widget-title">Price Filter</h4>
                                <div class="price-filter">
                                    <div class="sidebar-widget-list">
                                        <ul>
                                            <li>
                                                <div class="sidebar-widget-list-left">
                                                    <input type="checkbox" name="price" value="0-4999">
                                                    <a href="#">0 - 4999</a>
                                                    <span class="checkmark"></span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="sidebar-widget-list-left">
                                                    <input type="checkbox" name="price" value="5000-9999">
                                                    <a href="#">5000 - 9999</a>
                                                    <span class="checkmark"></span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="sidebar-widget-list-left">
                                                    <input type="checkbox" name="price" value="10000-">
                                                    <a href="#">10000 and more</a>
                                                    <span class="checkmark"></span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                                <h4 class="sidebar-widget-title">BRANDS</h4>
                                <div class="sidebar-widget-list">
                                    <ul>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" name="brand" value="ADIDAS ORIGINALS"> <a href="#">ADIDAS ORIGINALS</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" name="brand" value="ASICS"> <a href="#">ASICS</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" name="brand" value="NIKE"> <a href="#">NIKE</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" name="brand" value="PUMA"> <a href="#">PUMA</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" name="brand" value="REEBOK"> <a href="#">REEBOK</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div> 

                            <div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                                <h4 class="sidebar-widget-title">Size </h4>
                                <div class="sidebar-widget-list">
                                        <ul>
                                            {% for size in sizes %}
                                                <li>
                                                    <div class="sidebar-widget-list-left">
                                                        <input type="checkbox" name="size" value="{{ size.size }}">
                                                        <a href="#">{{ size.size }}</a>
                                                        <span class="checkmark"></span>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                 </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const checkboxes = document.querySelectorAll('input[type="checkbox"]');
                
                checkboxes.forEach(function(checkbox) {
                    checkbox.addEventListener('change', function() {
                        this.closest('form').submit();
                    });
        
                    checkbox.addEventListener('click', function() {
                        if (this.checked) {
                            this.parentElement.classList.add('active');
                        } else {
                            this.parentElement.classList.remove('active');
                        }
                    });
                });
            });
        </script>
        
        
        
{% endblock content %}