{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="main-wrapper">
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="active">Shop </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shop-area pt-120 pb-120">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-topbar-wrapper">
                            <div class="shop-topbar-left">
                                <div class="view-mode nav">
                                    <a class="active" href="#shop-1" data-toggle="tab"><i class="icon-grid"></i></a>
                                    {% comment %} <a href="#shop-2" data-toggle="tab"><i class="icon-menu"></i></a> {% endcomment %}
                                </div>
                                <p>Showing 1 - 20 of 30 results </p>
                                {% comment %} <p>Showing 1 - {{ products|length }} of {{ product_count }} results</p> {% endcomment %}
                            </div></div>
                        <div class="shop-bottom-area">
                            <div class="tab-content jump">
                                <div id="shop-1" class="tab-pane active">
                                    <div class="row">
                                        {% if products %}
                                        {% for product in products %}
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                            <div class="single-product-wrap mb-35">
                                                <div class="product-img product-img-zoom mb-15">
                                                    {% comment %} <a href="{% url 'product_details' product.id  %}"> {% endcomment %}
                                                    <a href="{% url 'product_details' product.id %}">
                                                        <img src="{{product.product_image.url}}" alt="">
                                                    </a>
                                                    {% comment %} <span class="pro-badge left bg-red">-20%</span> {% endcomment %}
                                                    {% comment %} <div class="product-action-2 tooltip-style-2">
                                                        <button title="Wishlist"><i class="icon-heart"></i></button>
                                                        <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i class="icon-size-fullscreen icons"></i></button>
                                                        <button title="Compare"><i class="icon-refresh"></i></button>
                                                    </div> {% endcomment %}
                                                </div>
                                                <div class="product-content-wrap-2 text-center">
                                                    {% comment %} <div class="product-rating-wrap">
                                                        <div class="product-rating">
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                        </div>
                                                        <span>(5)</span>
                                                    </div> {% endcomment %}
                                                    <h3>{{product.product_name}}</a></h3>
                                                    <div class="product-price-2">
                                                        <span class="new-price">{{product.selling_price}}</span>
                                                        <span class="old-price">{{product.original_price}}</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap-2 product-content-position text-center">
                                                    {% comment %} <div class="product-rating-wrap">
                                                        <div class="product-rating">
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                        </div>
                                                        <span>(5)</span>
                                                    </div> {% endcomment %}
                                                    <h3>{{product.product_name}}</a></h3>
                                                    <div class="product-price-2">
                                                        <span class="new-price">{{product.selling_price}}</span>
                                                        <span class="old-price">{{product.original_price}}</span>
                                                    </div>
                                                    <div class="pro-add-to-cart">
                                                        <a href="{% url 'product_details' product.id %}"><button title="Add to Cart"> View Product</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% endif%}
                                    </div>
                                </div>
                                
                                <div id="shop-2" class="tab-pane">
                                    <div class="shop-list-wrap mb-30">
                                        <div class="row">
                                            {% for product in products %}
                                            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6">
                                                <div class="product-list-img">
                                                    <a href="product-details.html">
                                                        <img src="{{ product.product_image.url }}" alt="Product Style">
                                                    </a>
                                                    {% comment %} <div class="product-list-quickview">
                                                        <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i class="icon-size-fullscreen icons"></i></button>
                                                    </div> {% endcomment %}
                                                </div>
                                            </div>
                                            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6">
                                                <div class="shop-list-content">
                                                    <h3><a href="product-details.html">{{product.product_name}}</a></h3>
                                                    <div class="pro-list-price">
                                                        <span class="new-price">{{product.selling_price}}</span>
                                                        <span class="old-price">{{product.original_price}}</span>
                                                    </div>
                                                    <div class="product-list-rating-wrap">
                                                        <div class="product-list-rating">
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star"></i>
                                                            <i class="icon_star gray"></i>
                                                            <i class="icon_star gray"></i>
                                                        </div>
                                                        <span>(3)</span>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor labor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                                    <div class="product-list-action">
                                                        <button title="Add To Cart"><i class="icon-basket-loaded"></i></button>
                                                        <button title="Wishlist"><i class="icon-heart"></i></button>
                                                        <button title="Compare"><i class="icon-refresh"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% comment %} <div class="pro-pagination-style text-center mt-10">
                                <ul>
                                    <li><a class="prev" href="#"><i class="icon-arrow-left"></i></a></li>
                                    <li><a class="active" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a class="next" href="#"><i class="icon-arrow-right"></i></a></li>
                                </ul>
                            </div> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="sidebar-wrapper sidebar-wrapper-mrg-right">
                            <div class="sidebar-widget mb-40">
                                <h4 class="sidebar-widget-title">Search </h4>
                                <div class="sidebar-search">
                                    <form class="sidebar-search-form" action="{% url 'product_search' %}" method="get">
                                        <input type="text" name="search" placeholder="Search here..." value="{{ search_query }}">
                                        <button type="submit">
                                            <i class="icon-magnifier"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="sidebar-widget shop-sidebar-border mb-35 pt-40">
                                <h4 class="sidebar-widget-title">Categories </h4>
                                <div class="shop-catigory">
                                    <ul>
                                        <li><a href="shop.html">MEN</a></li>
                                        <li><a href="shop.html">WOMEN</a></li>
                                        <li><a href="shop.html">KIDS </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                                <h4 class="sidebar-widget-title">Price Filter </h4>
                                <div class="price-filter">
                                    <span>RANGE :  RS. 1000 - 50000</span>
                                    <div id="slider-range"></div>
                                    <div class="price-slider-amount">
                                        <div class="label-input">
                                            <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                        </div>
                                        <button type="button">Filter</button>
                                    </div>
                                </div>
                            </div>
                            {% comment %} <div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                                <h4 class="sidebar-widget-title">Refine By </h4>
                                <div class="sidebar-widget-list">
                                    <ul>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox"> <a href="#">On Sale <span>4</span> </a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value=""> <a href="#">New <span>5</span></a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value=""> <a href="#">In Stock <span>6</span> </a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div> {% endcomment %}
                            <div class="sidebar-widget shop-sidebar-border mb-40 pt-40">
                                <h4 class="sidebar-widget-title">Size </h4>
                                <div class="sidebar-widget-list">
                                    <ul>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value=""> <a href="#">UK 6 </a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value=""> <a href="#">UK 7 </a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value=""> <a href="#">UK 8</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value=""> <a href="#">UK 9</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sidebar-widget-list-left">
                                                <input type="checkbox" value=""> <a href="#">UK 10</a>
                                                <span class="checkmark"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
{% endblock content %}