{% extends "base.html" %}

{% load static %}

{% block title %}
Order-confirmed-online
{% endblock title %}

{% block content %}

<div class="main-wrapper">
    <div class="breadcrumb-area bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="active">Order confirmed </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="checkout-main-area pt-120 pb-120">
            <div class="container">
                <div class="checkout-wrap pt-30">
                    <form method="" action="">
                        <div class="row">
                            <div class="col-lg-5 mx-auto"> 
                                <div class="your-order-area">
                                    <h3>Congratulations, Your order has been placed successfully!</h3>
                                    <div class="gif-container text-center">
                                        <img src="{% static 'user/assets/images/logo/icons8-approval.gif' %}" alt="Success GIF" class="success-gif">
                                    </div>
                                    <div class="your-order-wrap gray-bg-4">
                                        <div class="your-order-info-wrap">
                                            <div class="your-order-info order-total">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Place-order" style="text-align: center;">
                                        <button class="btn btn-primary" style="border-radius: 0; font-size: 14px; padding: 0px 0px;"><a href="{% url 'index' %}">BACK TO HOME</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
