{% extends "base.html" %}

{% load static %}

{% block title %}

Order-details

{% endblock title %}

{% block content %}

    <div class="main-wrapper">
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="active">Order-Details </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="compare-page-wrapper pt-120 pb-120">
            {% if order_items %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Compare Page Content Start -->
                        <div class="compare-page-content-wrap">
                            <div class="compare-table table-responsive">
                                <table class="table table-bordered mb-0">
                                    <tbody>
                                        <tr>
                                            <td class="first-column" colspan="2"><h3><strong>PRODUCT DETAILS</strong></h3></td>
                                        </tr>
                                        
                                        {% for item in order_items %}
                                        
                                        <tr>
                                            <td class="first-column">Product Image</td>
                                            <td class="product-image-title">
                                                <a href="product-details.html" class="image">
                                                    <img class="img-fluid" src="{{ item.variant.product.product_image.url }}" alt="Compare Product" style="max-width: 136px; max-height: 136px;">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="first-column">Name</td>
                                            <td class="pro-desc">
                                                <h4>{{item.variant.product.product_name}}</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="first-column">Size</td>
                                            <td class="pro-price">{{item.variant.product_size}}</td>
                                        </tr>

                                        <tr>
                                            <td class="first-column">Category</td>
                                            <td>{{item.variant.product.category.category_name}}</td>
                                        </tr>

                                        <tr>
                                            <td class="first-column">Quantity</td>
                                            <td>{{item.quantity}}</td>
                                        </tr>

                                        <tr>
                                            <td class="first-column">Price</td>
                                            <td class="pro-price">{{item.product_price}}</td>
                                        </tr>

                                        {% endfor %}
                                        
                                        <tr>
                                            <td class="first-column" colspan="2"><h3><strong>ORDER DETAILS</strong></h3></td>
                                        </tr>

                                        <tr>
                                            <td class="first-column">Order ID</td>
                                            <td><b>{{ orders.order_id }}<b></td>
                                        </tr>

                                        <tr>
                                            <td class="first-column">Order Issued On</td>
                                            <td>{{ orders.created }}</td>
                                        </tr>


                                        <tr>
                                            <td class="first-column">Order Total</td>
                                            <td>{{ orders.order_total }}</td>
                                        </tr>

                                        <tr>
                                            <td class="first-column">Payment Method</td>
                                            <td>
                                                {% if orders.payment.payment_method == "cash_on_delivery" %}
                                                    Cash on Delivery
                                                {% elif orders.payment.payment_method == "Razorpay" %}
                                                    Razorpay
                                                {% else %}
                                                    {{ orders.payment.payment_method }}
                                                {% endif %}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="first-column" colspan="2"><h3><strong>DELIVERY DETAILS</strong></h3></td>
                                        </tr>

                                        <tr>
                                            <td class="first-column">Customer</td>
                                            <td><b>{{orders.address.name}}<b></td>
                                        </tr>

                                        <tr>
                                            <td class="first-column">Address</td>
                                            <td>{{orders.address.address}} , {{orders.address.city}} , {{orders.address.landmark}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="first-column">Pincode</td>
                                            <td>{{orders.address.pincode}}</td>
                                        </tr>

                                        <tr>
                                            <td class="first-column"> District | State</td>
                                            <td>{{orders.address.district}} | {{orders.address.state}}</td>
                                        </tr>

                                        <tr>
                                            <td class="first-column">Contact</td>
                                            <td>{{orders.address.mobile}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Compare Page Content End -->
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>


{% endblock content %}
