{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="main-wrapper">
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">Blog</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blog-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                        <div class="blog-wrap mb-40">
                            <div class="blog-img mb-20">
                                <a href="https://www.vogue.com/article/best-minimal-white-sneakers"><img src="{% static 'user\assets\images\blog\KENDALL-JENNER-HOT-PHOTOSHOOT-FOR-VOGUE-MAGAZINE-2.jpg' %}" alt="blog-img"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="https://www.vogue.com/article/best-minimal-white-sneakers">Article </a></li>
                                        <li>October 21, 2023</li>
                                    </ul>
                                </div>
                                <h1><a href="https://www.vogue.com/article/best-minimal-white-sneakers">Simply the Best White Sneakers-Plus the Ones With Kaia and Kendall’s Stamp of Approval</a></h1>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                        <div class="blog-wrap mb-40">
                            <div class="blog-img mb-20">
                                <a href="https://www.gucci.com/us/en/st/what-new"><img src="{% static 'user\assets\images\blog\gucci.jpg' %}" alt="blog-img"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="https://www.gucci.com/us/en/st/what-new">Collections</a></li>
                                        <li>Nov 10, 2023</li>
                                    </ul>
                                </div>
                                <h1><a href="https://www.gucci.com/us/en/st/what-new">WHAT'S NEW
                                    A lineup of ready-to-wear and accessories from the latest collection.</a></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                        <div class="blog-wrap mb-40">
                            <div class="blog-img mb-20">
                                <a href="https://www.vogue.com/article/virgil-abloh-biography-career-timeline"><img src="{% static 'user\assets\images\blog\va.webp' %}" alt="blog-img"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="https://www.vogue.com/article/virgil-abloh-biography-career-timeline">Inspiration </a></li>
                                        <li>March 28, 2018</li>
                                    </ul>
                                </div>
                                <h1><a href="https://www.vogue.com/article/virgil-abloh-biography-career-timeline">A Brief History of Virgil Abloh’s Meteoric Rise</a></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                        <div class="blog-wrap mb-40">
                            <div class="blog-img mb-20">
                                <a href="https://www.pvh.com/news/calvin-klein-fall-2023-campaign"><img src="{% static 'user\assets\images\blog\ck.avif' %}" alt="blog-img"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="https://www.pvh.com/news/calvin-klein-fall-2023-campaign">News </a></li>
                                        <li>Aug 14, 2023</li>
                                    </ul>
                                </div>
                                <h1><a href="https://www.pvh.com/news/calvin-klein-fall-2023-campaign">Calvin Klein introduces its Fall 2023 campaign starring Alexa Demie, Kid Cudi, JENNIE, Jung Kook and Kendall Jenner</a></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                        <div class="blog-wrap mb-40">
                            <div class="blog-img mb-20">
                                <a href="https://www.highsnobiety.com/p/fear-of-god-runway-show/"><img src="{% static 'user\assets\images\blog\FOG.jpg' %}" alt="blog-img"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="https://www.highsnobiety.com/p/fear-of-god-runway-show/">Lookbook </a></li>
                                        <li>March 21, 2023</li>
                                    </ul>
                                </div>
                                <h1><a href="https://www.highsnobiety.com/p/fear-of-god-runway-show/">No elevated essentials at FEAR OF GOD'S first fashion show</a></h1>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                        <div class="blog-wrap mb-40">
                            <div class="blog-img mb-20">
                                <a href="https://www.businesstoday.in/latest/corporate/story/balenciaga-opens-first-store-in-india-at-isha-ambanis-jio-world-plaza-404731-2023-11-06"><img src="{% static 'user\assets\images\blog\balenciaga.webp' %}" alt="blog-img"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="https://www.businesstoday.in/latest/corporate/story/balenciaga-opens-first-store-in-india-at-isha-ambanis-jio-world-plaza-404731-2023-11-06">News </a></li>
                                        <li>Nov 06, 2023</li>
                                    </ul>
                                </div>
                                <h1><a href="https://www.businesstoday.in/latest/corporate/story/balenciaga-opens-first-store-in-india-at-isha-ambanis-jio-world-plaza-404731-2023-11-06">Balenciaga opens first store in India at Isha Ambani's Jio World Plaza</a></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                        <div class="blog-wrap mb-40">
                            <div class="blog-img mb-20">
                                <a href="https://www.thehindu.com/life-and-style/fashion/who-do-sneakerheads-love/article65192718.ece"><img src="{% static 'user/assets/images/blog/all-white-nike-sportswear-sneakers-summer-2016-01.webp' %}" alt="blog-img"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="https://www.thehindu.com/life-and-style/fashion/who-do-sneakerheads-love/article65192718.ece">Article </a></li>
                                        <li>March 05, 2022</li>
                                    </ul>
                                </div>
                                <h1><a href="https://www.thehindu.com/life-and-style/fashion/who-do-sneakerheads-love/article65192718.ece">Who do sneakerheads love?</a></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                        <div class="blog-wrap mb-40">
                            <div class="blog-img mb-20">
                                <a href="https://www.gq.com/story/david-beckham-paris-fashion-week-socks-sandals"><img src="{% static 'user\assets\images\blog\david-beckham-s-new-fragrance-focuses-on-2.jpg' %}" alt="blog-img"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="https://www.gq.com/story/david-beckham-paris-fashion-week-socks-sandals">Style </a></li>
                                        <li>Sep 30, 2023</li>
                                    </ul>
                                </div>
                                <h1><a href="https://www.gq.com/story/david-beckham-paris-fashion-week-socks-sandals">David Beckham Wore the Most Elegant Take on Socks and Sandals You’ve Ever Seen</a></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                        <div class="blog-wrap mb-40">
                            <div class="blog-img mb-20">
                                <a href="https://www.forbesindia.com/article/storyboard18/india-is-sneaking-in-a-billiondollar-industry-in-shoe-boxes/75671/1"><img src="{% static 'user\assets\images\blog\63191Buzz4.webp' %}" alt="blog-img"></a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="https://www.forbesindia.com/article/storyboard18/india-is-sneaking-in-a-billiondollar-industry-in-shoe-boxes/75671/1">Article </a></li>
                                        <li>Apr 25, 2022</li>
                                    </ul>
                                </div>
                                <h1><a href="https://www.forbesindia.com/article/storyboard18/india-is-sneaking-in-a-billiondollar-industry-in-shoe-boxes/75671/1">India is 'sneaking' in a billion-dollar industry in shoe boxes</a></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}