{% extends 'base.html' %}

{% block content %}

        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="active">Forgot Password</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="login-register-area pt-115 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                            <div class="login-register-tab-list nav">
                                <a class="active" data-toggle="tab" href="#lg1">
                                    <h4> Forgot Password </h4>
                                </a>
                            </div>
                            <div class="tab-content">
                                <div id="lg1" class="tab-pane active">
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                            <form action="{% url 'forgot_password' %}" method="post">
                                                {% csrf_token %}
                                                {% if messages %}
                                                    <div class="messages alert alert-danger">
                                                        {% for message in messages %}
                                                            <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
                                                                {{ message }}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                                <input type="text" name="email" placeholder="Enter your email address" required>
                                                <div class="button-box d-flex justify-content-center align-items-center flex-column">
                                                    <div class="login-toggle-btn mb-3">
                                                        <button type="submit" class="btn btn-primary" style="border-radius:0">Send OTP</button>
                                                    </div>
                                                    <a href="{% url 'user_login' %}" class="mb-2">Know your password? Login</a> 
                                                </div>
                                                <div class="text-center">
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <p class="mb-0">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
                                                    </div>
                                                </div>    
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

{% endblock content %}